%h1 Christopher Bull
%h2 I provide Creative and Technical Direction for Tech products.
%p
  %a{:href => 'https://twitter.com/christopherbull', :target => 'blank'}Twitter
  %a{:href => 'mailto:chris@christopherbull.name', :target => 'blank'}E-mail
